* {
	border: 0;
	padding: 0;
	margin: 0;
}

#inner-div {
	width: 6vw;
	height: 6.25vw;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#main-container {
	height: 980px;
	width: 980px;
	background-color: aliceblue;
	font-size: 0;
}
